.app {
  background-color: #0a192f;
}

.neon-text {
  color: #4df1aa;
}

.light-text {
  color: #A3E4D7;
}

.dark-text {
  color: #117864;
}

.hovered-btn {
  width: 200px;
  height: 60px;
  font-size: 25px;
  border: 1px solid #4df1aa;
  color: #A3E4D7;
  background-color: #0a192f;
  border-radius: 5px;
  box-shadow: inset 0 0 0 0 #4df1aa;
  transition: ease-out 0.4s;
  outline: none;
  font-weight: bold;
}

.hovered-btn:hover {
  box-shadow: inset 200px 0 0 0 #4df1aa;
  cursor: pointer;
  color: #0a192f;
}

.link {
  text-decoration: none;
  font-weight: bold;
}

.link:link, .link:active, .link:visited {
  color: #4df1aa;
}

.link-nav-drawer {
  padding: 3vh;
  border-bottom: 1px dashed #4df1aa;
  text-align: center;
}

.link-nav {
  padding: 5px 10px;
}

.link-nav:hover {
  border: 1px dashed #4df1aa;
}

img {
  width: 100%;
}
.open{
    display: none;
}
.close{
    display: block;
}