.app {
  background-color: #0a192f;
}

.neon-text {
  color: #4df1aa;
}

.light-text {
  color: #A3E4D7;
}

.dark-text {
  color: #117864;
}

.hovered-btn {
  width: 200px !important;
  height: 60px !important;
  font-size: 25px !important;
border: 1px solid #4df1aa !important;
  color: #A3E4D7 !important;
  background-color: #0a192f !important;
  border-radius: 3px !important;
  box-shadow: inset 0 0 0 0 #4df1aa;
  transition: ease-out 0.4s;
  outline: none;
  font-weight: bold !important;
}

.hovered-btn:hover {
  box-shadow: inset 200px 0 0 0 #4df1aa;
  cursor: pointer !important;
  color: #0a192f !important;
}

.link {
  text-decoration: none;
  font-weight: bold;
}

.link:link, .link:active, .link:visited {
  color: #4df1aa;
}

.link-nav-drawer {
  padding: 3vh;
  border-bottom: 1px dashed #4df1aa;
  text-align: center;
}

.link-nav {
  padding: 5px 10px;
}

.link-nav:hover {
  border: 1px dashed #4df1aa;
}

img {
  width: 100%;
}
.closed{
    display: none !important;
}

.close-icon{
    animation: 1s transformation;
}
@keyframes transformation {
    0%,100%{transform: rotate(0deg)}
    50%{transform: rotate(90deg)}
}